<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/Temp/WordConverter"/>
  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${logDirectory}/WordConverter.log"
            layout="${date} | ${level} | ${message}"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveFileName="${logDirectory}/WordConverter Logs Archive/WordConverter-{#}.log"
            archiveDateFormat="yyyy-MM-dd"
            autoFlush="true"
            createDirs="true"
            deleteOldFileOnStartup="false"
            maxArchiveFiles="30"
            concurrentWrites="false"
            encoding="UTF-8"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>